/* TutorPost.module.css */
.title {
    display: flex;
    align-items: center;
    gap: 20px; /* Tab-like space between name and username */
  }
  
  .name {
    color: #000204; /* Dark blue color for name */
    font-size: 1.3rem; /* Font size for name (24px) */
  }
  
  .username {
    color: #7f8c8d; /* Gray color for username */
    font-size: 1.05rem; /* Font size for username (20px) */
  }

  .rating {
    color: #000204; /* Gray color for username */
    float: right; /* Add some spacing between username and rating */
    font-size: 1.05rem; /* Font size for username (20px) */
  }